:root {
    --main-bg-color: rgba(0, 0, 0, 0.72);
    --option-color: rgba(0,0,0,0.8); 
    --hover-option-color: rgba(0,0,0,0.64);
    --hover-box-color: rgba(255,255,255,0.08);
    --border-color: darkslategray;
    --default-text-color: white;
    --second-text-color: rgba(128, 208, 176, 0.64);
    --third-text-color: rgba(160, 232, 200, 0.64);
    --header-font: "Merriweather", serif;
    --body-font: "Nunito Sans", sans-serif;
    --clear: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--hover-option-color);
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-optical-sizing: auto;
    font-family: var(--body-font);
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

nav {
    display:flex;
    justify-content: flex-end;
    float: right;
    font-family: var(--header-font);
}

nav a {
    color: var(--default-text-color);
    text-decoration: none;
    font-size: 16px;

    padding: 12px 12px 8px;
    margin: 0px 0px -4px 4px;

    background-color: var(--option-color);
    border-radius: 8px 8px 0px 0px;
    border: solid var(--border-color);
    border-width: 4px;
    
    transition: all 1s ease;
}

nav a.active {
    background-color: var(--main-bg-color);
    border-bottom-color: #383838;
    transition: none;
}

nav a:not(.active):hover {
    background-color: var(--hover-option-color);
}

.box {
    background-color: var(--main-bg-color);
    padding: 16px;
    border: 4px solid var(--border-color);
    border-radius: 4px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    clear: both;
    overflow: hidden;
}

.box h1 {
    clear: both;
    color: var(--second-text-color);
    margin: 0px ;
}

.box h2 {
    clear: both;
    color: var(--second-text-color);
    margin: 0px;
}

.box h3 {
    clear: both;
    color: var(--second-text-color);
    margin: 0px;
}

.box p {
    color: var(--default-text-color);
    margin: 0px;
}

.box a {
    color: var(--second-text-color);
    text-decoration: underline;
}

.box a:hover {
    color: var(--default-text-color);
    background-color: var(--second-text-color);
}

.box li {
    color: var(--default-text-color);
}